body {
    background-color: #9fb4c7;
}

h1 { 
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    background-color: #7f7caf;
    padding: 25px 110px 40px 110px;
    margin-bottom: 10px;
}

#active {
    background-color: #625f88;
    padding: 25px 110px 40px 110px;
    margin-bottom: 0px;
}

.blurb {
    background-color: #28587b85;
    margin: 100px 10px 0px 10px;
    border-radius: 20px;
}

#fake {
    display: none;
}