@import url('https://fonts.cdnfonts.com/css/nimbus-sans-l');

/* CSS Reset */
/*
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
*/
/* Home Page CSS */

#main {
    background-color: #454749;
}

#main h1 { 
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 0px;
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.navbar input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    background-color: #5d5c70;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#active {
    background-color: #625f88;
    padding: 25px 110px 40px 110px;
    margin-bottom: 0px;
}

.blurb {
    background-color: #5d5c70;
    margin: 100px 50px 0px 50px;
    border-radius: 20px;
    text-align: center;
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.blurb h2 {
    padding-top: 20px;
    font-size: 30px;
}

.blurb p {
    font-size: 20px;
    padding-bottom: 20px;
}

#exp {
    background-color: #5d5c70;
    margin: 100px 50px 0px 50px;
    border-radius: 20px;
    text-align: center;
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

#exp h2 {
    padding-top: 20px;
    font-size: 30px;
}

#exp p {
    font-size: 20px;
    padding-bottom: 20px;
}

/* Fake website CSS */
#fake {
    display: none;
}

#ELogo {
    margin-top: 55px;
}

#fake {
    padding-left: 10px;
    width: 500px;
    margin: auto;
}

#Signin {
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}

#Signin h1 {
    text-align: left;
}

#username {
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    margin-top: 33px;
    margin-left: 0px;
    margin-bottom: 12px;
    color: #212529;
}

#iuser {
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    width: 447px;
    height: 38px;
    border: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    color: #495057;
    transition: all .3s ease-out;
}

#iuser:hover {
    border-color: #4374b8;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,.3);
    outline: 0;
}

#password {
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    margin-top: 45px;
    margin-left: 0px;
    margin-bottom: 12px;
    color: #212529;
}

#ipass {
    width: 447px;
    height: 38px;
    border: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
    font-size: small;
    margin-bottom: 38px;
    line-height: 1.5;
    color: #495057;
    transition: all .3s ease-out;
}

#ipass:hover {
    border-color: #4374b8;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,.3);
    outline: 0;
}

#submit {
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: medium;
    border: 2px solid #036;
    color: #fff;
    background: #036;
    box-shadow: 0 0 6px 0 transparent;
    padding: 18px 30px 18px 30px;
    margin-bottom: 30px;
    transition: color .3s ease-in-out,background .3s ease-in-out,box-shadow .3s ease-in-out;
}

/* Submit button for the DOE phish test */
#submit:hover {
    cursor: pointer;
    border-color: #4374b8;
    text-decoration: none;
    color: #fff;
    background: #4374b8;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,.3);
}

#doealert {
    display: none;
}

/* Special CSS for phishjupiter.html */

#standardimg {
    height: 50%;
    width: 50%;
    border: 3px solid #212529;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#foot {
    margin: auto;
    width: 300px;
    background-color: #5d5c70;
    border-radius: 20px;
    text-align: center;
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #fff;
    padding-top: 10px;
}

#start {
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    font-weight: bolder;
    font-size: large;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    background: rgb(0, 161, 8);
    box-shadow: 0 0 6px 0 transparent;
    border-radius: 10px;
    padding: 18px 30px 18px 30px;
    margin-bottom: 30px;
    transition: color .3s ease-in-out,background .3s ease-in-out,box-shadow .3s ease-in-out;
}

/* CSS Selector for the Start Test Button, styles it to look professional */
#start:hover {
    cursor: pointer;
    border-color: #00f00c;
    text-decoration: none;
    color: #fff;
    background: #1cec00;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,.3);
}

#end {
    margin-bottom: 0px;
    font-family: "Helveltica Neue",Helvetica,Arial,sans-serif;
    font-weight: bolder;
    font-size: large;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    background: rgb(167, 0, 0);
    box-shadow: 0 0 6px 0 transparent;
    border-radius: 10px;
    padding: 18px 30px 18px 30px;
    margin-bottom: 30px;
    transition: color .3s ease-in-out,background .3s ease-in-out,box-shadow .3s ease-in-out;
    position: absolute;
    left: 0px;
}

/* Same as select button but instead returns from the phish test. */
#end:hover {
    cursor: pointer;
    border-color: #f00000;
    text-decoration: none;
    color: #fff;
    background: #ec0000;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,.3);
}

#ptable {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #212529;
    border-radius: 10px;
}

#source {
    font-size: small;
}

/* CSS Changes on Desktop version of page */
@media screen and (min-width: 420px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        margin: 0px 14px 0px 7px;
    }
    
    #gridimg {
        height: 100%;
        width: 100%;
        border: 3px solid #212529;
        border-radius: 10px;
    }
}

/* CSS Changes on Mobile Version of Page */
@media screen and (max-width: 420px) {
    #grid {
        display: flex;
        flex-direction: column;
        margin: 0px 14px 0px 7px;
    }
    
    #gridimg {
        height: 100%;
        width: 100%;
        border: 3px solid #212529;
        border-radius: 10px;
    }  
}